library:
  name = eigen
  headers:
    Cholesky
    CholmodSupport
    Core
    Dense
    Eigen
    Eigenvalues
    Geometry
    Householder
    IterativeLinearSolvers
    Jacobi
    LU
    MetisSupport
    OrderingMethods
    PardisoSupport
    PaStiXSupport
    QR
    QtAlignedMalloc
    Sparse
    SparseCholesky
    SparseCore
    SparseLU
    SparseQR
    StdDeque
    StdList
    StdVector
    SuperLUSupport
    SVD
    UmfPackSupport
  dependencies:
    /eigen/src/IterativeLinearSolvers/IterativeLinearSolvers
    /eigen/src/Core/Core
    /eigen/src/Core/arch/SSE/SSE
    /eigen/src/Core/arch/AltiVec/AltiVec
    /eigen/src/Core/arch/Default/Default
    /eigen/src/Core/arch/NEON/NEON
    /eigen/src/Core/util/util
    /eigen/src/Core/products/products
    /eigen/src/SVD/SVD
    /eigen/src/Jacobi/Jacobi
    /eigen/src/PaStiXSupport/PaStiXSupport
    /eigen/src/LU/LU
    /eigen/src/LU/arch/arch
    /eigen/src/Cholesky/Cholesky
    /eigen/src/SparseCore/SparseCore
    /eigen/src/SparseLU/SparseLU
    /eigen/src/SparseQR/SparseQR
    /eigen/src/Householder/Householder
    /eigen/src/PardisoSupport/PardisoSupport
    /eigen/src/misc/misc
    /eigen/src/UmfPackSupport/UmfPackSupport
    /eigen/src/MetisSupport/MetisSupport
    /eigen/src/StlSupport/StlSupport
    /eigen/src/plugins/plugins
    /eigen/src/SparseCholesky/SparseCholesky
    /eigen/src/Eigenvalues/Eigenvalues
    /eigen/src/QR/QR
    /eigen/src/OrderingMethods/OrderingMethods
    /eigen/src/SPQRSupport/SPQRSupport
    /eigen/src/SuperLUSupport/SuperLUSupport
    /eigen/src/Geometry/Geometry
    /eigen/src/Geometry/arch/arch
    /eigen/src/CholmodSupport/CholmodSupport

program:
  name = eigen_test
  sources:
    eigen_test.cc
  dependencies:
    eigen
