library:
  name = args
  headers:
    args.h
  sources:
    args.cc

library:
  name = noargs
  headers:
    noargs.h
  sources:
    noargs.cc

library:
  name = gtest
  sources:
    gtest.cc
  dependencies:
    /gtest/gtest

test:
  name = gtest_test
  sources:
    gtest_test.cc
  dependencies:
    /main/gtest
