library:
  name = core
  headers:
    lapi.h
    lcode.h
    lctype.h
    ldebug.h
    ldo.h
    lfunc.h
    lgc.h
    llex.h
    lmem.h
    lobject.h
    lopcodes.h
    lparser.h
    lprefix.h
    llimits.h
    lstate.h
    lstring.h
    ltable.h
    ltm.h
    lua.h
    luaconf.h
    lundump.h
    lvm.h
    lzio.h
  sources:
    lapi.cc
    lcode.cc
    lctype.cc
    ldebug.cc
    ldo.cc
    ldump.cc
    lfunc.cc
    lgc.cc
    llex.cc
    lmem.cc
    lobject.cc
    lopcodes.cc
    lparser.cc
    lstate.cc
    lstring.cc
    ltable.cc
    ltm.cc
    lundump.cc
    lvm.cc
    lzio.cc

library:
  name = lib
  headers:
    lauxlib.h
    lualib.h
  sources:
    lauxlib.cc
    lbaselib.cc
    lbitlib.cc
    lcorolib.cc
    ldblib.cc
    liolib.cc
    lmathlib.cc
    loslib.cc
    lstrlib.cc
    ltablib.cc
    lutf8lib.cc
    loadlib.cc
    linit.cc
  dependencies:
    core

program:
  name = luac
  sources:
    luac.cc
  dependencies:
    core
    lib

program:
  name = lua
  sources:
    lua.cc
  dependencies:
    core
    lib
