library:
  name = SparseCore
  headers:
    TriangularSolver.h
    SparseMatrix.h
    SparseTriangularView.h
    SparseProduct.h
    SparsePermutation.h
    ConservativeSparseSparseProduct.h
    AmbiVector.h
    SparseFuzzy.h
    SparseVector.h
    CompressedStorage.h
    SparseSelfAdjointView.h
    SparseDenseProduct.h
    SparseDiagonalProduct.h
    SparseTranspose.h
    SparseColEtree.h
    SparseMatrixBase.h
    SparseDot.h
    SparseUtil.h
    MappedSparseMatrix.h
    SparseRedux.h
    SparseCwiseBinaryOp.h
    SparseSparseProductWithPruning.h
    SparseView.h
    SparseBlock.h
    SparseCwiseUnaryOp.h
