library:
  name = Core
  headers:
    CwiseNullaryOp.h
    ProductBase.h
    TriangularMatrix.h
    ForceAlignedAccess.h
    Diagonal.h
    SolveTriangular.h
    Stride.h
    Assign_MKL.h
    VectorBlock.h
    MathFunctions.h
    Functors.h
    Flagged.h
    Assign.h
    DenseStorage.h
    ArrayBase.h
    Fuzzy.h
    NestByValue.h
    GlobalFunctions.h
    GenericPacketMath.h
    Random.h
    SelfCwiseBinaryOp.h
    Select.h
    EigenBase.h
    DenseBase.h
    BooleanRedux.h
    Dot.h
    CoreIterators.h
    Visitor.h
    NumTraits.h
    BandMatrix.h
    StableNorm.h
    PermutationMatrix.h
    Replicate.h
    MatrixBase.h
    CwiseBinaryOp.h
    IO.h
    ArrayWrapper.h
    NoAlias.h
    DenseCoeffsBase.h
    Ref.h
    ReturnByValue.h
    CwiseUnaryView.h
    SelfAdjointView.h
    Map.h
    PlainObjectBase.h
    Block.h
    MapBase.h
    CommaInitializer.h
    Matrix.h
    Array.h
    CwiseUnaryOp.h
    DiagonalProduct.h
    VectorwiseOp.h
    Reverse.h
    Transpose.h
    Swap.h
    DiagonalMatrix.h
    GeneralProduct.h
    Redux.h
    Transpositions.h
