library:
  name = bigint
  headers:
    bigint.h
  sources:
    bigint.cc
  dependencies:
    string_functions

test:
  name = bigint_test
  sources:
    bigint_test.cc
  dependencies:
    bigint
    /main/gtest

library:
  name = collection_functions
  headers:
    collection_functions.h

test:
  name = collection_functions_test
  sources:
    collection_functions_test.cc
  dependencies:
    collection_functions
    must
    /testing

test:
  name = endian_test
  sources:
    endian_test.cc
  dependencies:
    must
    /testing

library:
  name = env
  headers:
    env.h
  sources:
    env.cc
  dependencies:
    must

test:
  name = env_test
  sources:
    env_test.cc
  dependencies:
    env
    /main/gtest

library:
  name = error_class
  headers:
    error_class.h

test:
  name = error_class_test
  sources:
    error_class_test.cc
  dependencies:
    error_class
    /testing

library:
  name = file_functions
  headers:
    file_functions.h
  sources:
    file_functions.cc
  dependencies:
    bigint
    must

test:
  name = file_functions_test
  sources:
    file_functions_test.cc
  dependencies:
    file_functions
    file_functions_test_proto
    /main/gtest

proto:
  name = file_functions_test_proto
  sources:
    file_functions_test.proto

library:
  name = hex
  headers:
    hex.h
  dependencies:
    must

test:
  name = hex_test
  sources:
    hex_test.cc
  dependencies:
    hex
    /main/gtest

library:
  name = must
  headers:
    must.h
  dependencies:
    error_class
    string_functions
    /whee/source_root_sentinal

test:
  name = must_test
  sources:
    must_test.cc
  dependencies:
    must
    /testing

library:
  name = process
  headers:
    process.h

library:
  name = process
  headers:
    process.h

library:
  name = random
  headers:
    random.h
  sources:
    random.cc

test:
  name = rand_float_test
  sources:
    rand_float_test.cc
  dependencies:
    random
    /testing

program:
  name = rand_id_gen
  sources:
    rand_id_gen.cc
  dependencies:
    random
    /main/noargs

library:
  name = sequence_file
  headers:
    sequence_file.h
  sources:
    sequence_file.cc
  dependencies:
    file_functions

test:
  name = sequence_file_test
  sources:
    sequence_file_test.cc
  dependencies:
    sequence_file
    sequence_file_test_proto
    /main/gtest

proto:
  name = sequence_file_test_proto
  sources:
    sequence_file_test.proto

library:
  name = string_functions
  headers:
    string_functions.h
  dependencies:
    collection_functions

test:
  name = string_functions_test
  sources:
    string_functions_test.cc
  dependencies:
    bigint
    string_functions

library:
  name = sha3
  headers:
    sha3.h

test:
  name = sha3_test
  sources:
    sha3_test.cc
  dependencies:
    hex
    sha3
    /core/env
    /core/file_functions
    /main/gtest

