test:
  name = api_test
  sources:
    api_test.cc
  dependencies:
    xxua
    /main/gtest

test:
  name = allocator_test
  sources:
    allocator_test.cc
  dependencies:
    xxua
    /testing

test:
  name = context_test
  sources:
    context_test.cc
  dependencies:
    xxua
    /main/gtest

test:
  name = lang_test
  sources:
    lang_test.cc
  dependencies:
    xxua
    /main/gtest

test:
  name = lex_test
  sources:
    lex_test.cc
  dependencies:
    xxua
    /main/gtest

library:
  name = xxua
  headers:
    allocator.h
    api.h
    context.h
    debug_allocator.h
    pointer.h
    reader.h
    reference.h
    stack.h
    state.h
    type.h
    writer.h
  sources:
    api.cc
    debug_allocator.cc
    state.cc
  dependencies:
    /core/must
    /lua/core

test:
  name = stack_test
  sources:
    stack_test.cc
  dependencies:
    xxua
    /main/gtest

test:
  name = state_test
  sources:
    state_test.cc
  dependencies:
    xxua
    /main/gtest
