test:
  name = allocator_test
  sources:
    allocator_test.cc
  dependencies:
    xxua
    /testing

library:
  name = xxua
  headers:
    allocator.h
    debug_allocator.h
    reader.h
    state.h
    type.h
    writer.h
  sources:
    debug_allocator.cc
    state.cc
  dependencies:
    /core/must
    /lua/core

test:
  name = state_test
  sources:
    state_test.cc
  dependencies:
    xxua
    /main/gtest
